<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>EnvironmentVariables</key>
		<dict>
			<key>SELENIUM_HOME</key>
			<string>/Users/Shared/Selenium/Home</string>
		</dict>
		<key>GroupName</key>
		<string>selenium</string>
		<key>heapSize</key>
		<string>500m</string>
		<key>stackSize</key>
		<string>1024k</string>
		<key>permGen</key>
		<string>128M</string>
		<key>KeepAlive</key>
		<true/>
		<key>Label</key>
		<string>au.net.fernandez.selenium</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/bash</string>
			<string>/Library/Application Support/Selenium/selenium-runner.sh</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>UserName</key>
		<string>selenium</string>
	</dict>
</plist>
